*
{
    padding: 0%;
    margin: 0px;
    scroll-behavior: smooth;
     scrollbar-width: thin;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.link
{
    text-decoration: none;
}
.app
{
    background-color: rgb(255, 255, 255);
    --text-font:"Poppins", sans-serif;
    --font-color:rgb(145, 144, 144);
    --heading-size:30px;
}