* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(242, 242, 242);

}

.reset-password-inner-cont {
    position: relative;
    width: 30%;
    height: 400px;
}

.reset-password-container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 0px 40px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reset-password-container .name {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.reset-password-container .form button {
    align-self: flex-end;
}

.reset-password-container .flex-column>label {
    color: #151717;
    font-weight: 600;
    text-transform: capitalize;
}

.reset-password-container .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.2s ease-in-out;
    gap: 10px;
}

.reset-password-container .input {
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.reset-password-container .input:focus {
    outline: none;
}

.reset-password-container .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.reset-password-container .input::placeholder {
    font-family: var(--text-font);
}

.reset-password-container .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    cursor: pointer;
}

.reset-password-container .button-submit:hover {
    background-color: #252727;
}


.reset-password-container .loader {
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    padding: 10rem 45%;
}

@media screen and (max-width:1200px) {
    .reset-password-inner-cont {
        width: 40%;
    }
}

@media screen and (max-width:900px) {
    .reset-password-inner-cont {
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    .reset-password-inner-cont {
        width: 65%;
    }

    .reset-password-container .name {

        font-size: 30px;
    }
}

@media screen and (max-width:500px) {
    .reset-password-inner-cont {
        width: 87%;
    }

    .reset-password-container .name {

        font-size: 28px;
    }
}