.main-iteam-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.iteam-list-inner-container
{
    width: 79%;
    height: 100%;
    padding: 10px 15px;
    background-color: white;
}
.iteam-list-inner-container .heading
{
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 76%;
    z-index: 12;
    background-color: rgb(236, 228, 228);
    padding: 20px 15px;
    font-family: var(--text-font);
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    
}
.iteam-list-inner-container .heading div,.iteam-list-inner-container .iteam-list-container div
{
    width: 12%; 
}
.iteam-list-inner-container .iteam-list{
    margin-top:5rem ;
    width: 100%;
    height: 87%;
    overflow: scroll;
    scrollbar-width: none;
}
.iteam-list-inner-container .iteam-list-container
{
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(125, 124, 124, 0.393);
    font-family: var(--text-font);
    color: var(--font-color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 17px;
}
.iteam-list-inner-container .iteam-list-container .iteam-image img
{
    width: 70%;
}
.iteam-price
{
    display: flex;
    align-items: center;
}
.delete-btn:hover
{
    cursor: pointer;
}