*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(242,242,242);
  background: linear-gradient(121deg, rgba(242,242,242,0.9921218487394958) 0%, rgba(224,224,224,1) 31%, rgba(205,205,205,1) 87%);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
  padding:0px 40px;
  width: 400px;
  height: 500px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name{
  text-align: center;
  font-size:35px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.form button {
  align-self: flex-end;
}

.flex-column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.2s ease-in-out;
  gap:10px;
}

.input {
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}
.input::placeholder {
  font-family: var(--text-font);
}
.inputForm span
{
  cursor: pointer;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}
.button-submit .link
{
  color: white;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width:630px) {
  .inner-box{
    height: calc(100vh - 40px);
  }
  .form
  {
    bottom: 0px;
    width: 100%;
    height: 70%;
  }
  .sing-in-main-container.active .form
  {
    right: 0;
    bottom: 30%;
  }
  .toggle-box::before
  {
    width: 100%;
    height: 300%;
    left: 0;
    top: -270%;
    border-radius: 20vw;
  }
  .sing-in-main-container.active .toggle-box::before{
    left: 0;
    top: 70%;
  }
  .toggle-panel{
    width: 100%;
    height:30%;
  }
  .toggle-panel.toggle-left
  {
    top: 0;
  }
  .sing-in-main-container.active .toggle-panel.toggle-left
  {
    left: 0;
    top: -30%;
  }
  .toggle-panel.toggle-right
  {
    right: 0;
    bottom: -30%;
  }
  .sing-in-main-container.active .toggle-panel.toggle-right{
    bottom: 0;
  }
  
}

@media screen and (max-width:400px) {
  .form{
    padding: 0px 30px 0px 30px;
  }
  .toggle-panel h1{
    font-size: 30px;
  }
}